.depoiments{ 
    padding-top: 50px;
}

.title-page-depoiments {
    text-align: center;
    margin: 20px;
}

.sub-title-depoiments {
    padding-top: 5px;
}

.card-depoiments{ 

}

.card-content-depoiments{
    
}