.depoiments{ 
    padding: 50px;
    background-color: var(--backgroung-color);
    
}

.card-depoiments{ 
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 55px;
    
}

.card-content-depoiments{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    min-width: 250px;
    min-height: 250px;
    background-color: var(--card-content-depoiments-background);
    text-align: center;
    margin-top: 20px;
    padding: 30px;
    border-radius: 18px;
    color: var(--text-color);
}

.card-content-circle-depoiments{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: var(--brand-color);
    margin-bottom: 20px;
}

.card-content-text-depoiments{
    font-family: var(--card-text);
}

.card-content-name-depoiments{
    margin: 20px;
}