.depoiments{ 
    padding: 50px;
    background-color: var(--depoiments-backgroung);
    
}

.title-page-depoiments {
    text-align: center;
    margin: 20px;
    color: var(--purple);
}

.sub-title-depoiments {
    padding-top: 5px;
    color: var(--text-color);
}

.card-depoiments{ 
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 55px;
    
}

.card-content-depoiments{
    width: 300px;
    min-width: 250px;
    min-height: 250px;
    background-color: var(--card-content-depoiments-background);
    text-align: center;
    margin-top: 20px;
    padding: 30px;
    border-radius: 18px;
    color: var(--text-color);
}

.card-content-circle-depoiments{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: var(--purple);
    margin-bottom: 20px;
}

.card-content-name-depoiments{
    margin: 20px;
}