@import url('https://fonts.googleapis.com/css2?family=Anton&family=Work+Sans:ital,wght@0,400;0,500;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color-header: #3B2458;
    --brand-color: #A55AD7;

    --title: 'Poppins', sans-serif;
    --text:"Inter", sans-serif;
    --card-text: Arial;

    --card-content-depoiments-background: #2E2540;
    --card-content-contacts-background-color: #241D31;
    --card-content-contacts-border-color: #6E3FA3;
    --card-content-form-text-contacts-color: #C8BDD4;
    --card-content-form-input-contacts-background-color: #14111C;
    --backgroung-color: #0B0A12;
    --text-color: white;
    --font-size: 16px;
}

body {
    background-color: var(--background-color-header);
    color: white;
}

h1 {
    font-family: var(--title);
}

.title-page {
    text-align: center;
    margin: 20px;
    color: var(--brand-color);
    font-family: var(--title);
}


.sub-title {
    padding-top: 5px;
    color: var(--text-color);   
}